*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* sets base font size to 10px (from 16px in most browsers) */
/* sets line height to a more comfortable and readable line */
html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navigation a {
  text-decoration: none;
  color: aliceblue;
}

/* a active {

} */

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* grid-template-rows: 8vh repeat(3, 25vh) 5vh;
  grid-template-columns: repeat(3, 30vh); */
  background-image: url('./images/tacosSign1.jpeg');
  color: aliceblue;
  background-size: contain;
  /* Ensure the image maintains its aspect ratio */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  background-position: center center;
  /* Center the image both horizontally and vertically */
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
 .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
 }

 .tab {
  margin: 1rem;
 }

 /* Menu styling */

 .menu {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-template-rows:auto;

 }

.tacoImg {
  width: 10vw;
  height: auto;
  border-radius: 125%;
  margin: 2vh;

}

.menu-item {
  color: aliceblue;
  background-color: hsl(0, 0%, 0%, .5);
}

.greetingHeader {
  margin-top: 2vh;

}

/* Home styling */
.home {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 0%, .5);
  /* justify-content: center; */
  /* height: 100%; */
}

.tacoCatImg {
  width: 45%;
  height: auto;
border-radius: 120%;
margin-top: 10vh;
} 

/* Contact styling */
.contactItem {
  color: aliceblue;
  background-color: hsl(0, 0%, 0%, .5);
}